// .image {
//   width: 700px;
// }

// .sectionsImage {
//   justify-content: center;
// }

// .project {
//   font-weight: 800;
//   border-width: 1.5px;
//   border-color: #3eb8aa;
//   color: #3eb8aa;
// }

// .button-faq {
//   margin-top: 50px;
//   display: flex;
//   justify-content: center;
//   .red {
//     padding: 15px !important;
//     width: 50%;
//     border-radius: 25px;
//     background-color: #df5037 !important;
//     color: #fff !important;
//   }
// }
// .label {
//   color: #000000;
//   font-weight: 600;
// }

// .image {
//   width: 500px;
// }

// .green {
//   color: "#00a290";
// }

// button.MuiButton-root {
//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
//     box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
//     border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 0.2s ease-in-out,
//     font-weight 0.2s ease-in-out;
//   span.MuiButton-label {
//     transition: all 0.2s linear;
//     &::after {
//       content: "";
//       position: absolute;
//       bottom: 2px;
//       left: 6px;
//       width: 0;
//       height: 2px;
//       background: #000;
//       transition: all 0.2s linear;
//     }
//   }
// }

// a.section-active {
//   button.MuiButton-root {
//     color: black;
//     position: relative;
//     span.MuiButton-label {
//       font-weight: 700 !important;
//       &::after {
//         width: 40%;
//       }
//     }
//   }
// }
@media only screen and (min-width: 992px) {
  .button-faq {
    justify-content: flex-start !important;
  }
  .image {
    margin-left: 100px;
    width: 700px !important;
  }
  .sectionsImage {
    justify-content: flex-end;
  }
}

.Login {
  background-color: #fff;
  box-shadow: 0 0 4px gray;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.button-faq {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  .red {
    padding: 15px !important;
    width: 300px;
    border-radius: 25px;
    background-color: #df5037 !important;
    color: #fff !important;
  }
}

@media only screen and (min-width: 992px) {
  .red {
    padding: 15px !important;
    width: 100px;
    border-radius: 25px;
    background-color: #df5037 !important;
    color: #fff !important;
  }
}
