@media only screen and (min-width: 992px) {
  .button-faq {
    justify-content: flex-start !important;
  }
  .image {
    margin-left: 100px;
    width: 700px !important;
  }
  .sectionsImage {
    justify-content: flex-end;
  }
}
.Login {
  background-color: #fff;
  box-shadow: 0 0 4px gray;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.button-faq {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-weight: 700;
}
.button-faq .red {
  padding: 15px !important;
  width: 300px;
  border-radius: 25px;
  background-color: #df5037 !important;
  color: #fff !important;
}
@media only screen and (min-width: 992px) {
  .red {
    padding: 15px !important;
    width: 100px;
    border-radius: 25px;
    background-color: #df5037 !important;
    color: #fff !important;
  }
}
