footer {
  width: 100%;
  bottom: 0;
  background-color: #07486e;

  .image-footer {
    width: 200px;
    margin-bottom: 50px;
    margin-left: -50px;
  }

  .informations {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 5%;
    padding-bottom: 100px;
  }

  .email {
    color: #3eb8aa;
  }

  .copyright {
    height: 10%;
    padding: 20px;
    background-color: #073957;
    color: #797e84;
    text-align: center;
  }

  .green {
    color: #3eb8aa;
    font-weight: 650;
    margin-bottom: 10;
    margin-top: 5;
  }

  .input {
    color: #fff;
    width: 100%;
    & .MuiOutlinedInput-root {
      color: white;
      & fieldset {
        border-color: white;
      }
      &:hover fieldset {
        border-color: white;
        transition: 0.5s;
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
      }
    }
  }

  .buttonRed {
    font-weight: 700;
    background-color: #ff4000 !important;
    color: #fff;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 25%;
    &:hover {
      background-color: #faac58;
    }
  }
}
