footer {
  width: 100%;
  bottom: 0;
  background-color: #07486e;
}
footer .image-footer {
  width: 200px;
  margin-bottom: 50px;
  margin-left: -50px;
}
footer .informations {
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 5%;
  padding-bottom: 100px;
}
footer .email {
  color: #3eb8aa;
}
footer .copyright {
  height: 10%;
  padding: 20px;
  background-color: #073957;
  color: #797e84;
  text-align: center;
}
footer .green {
  color: #3eb8aa;
  font-weight: 650;
  margin-bottom: 10;
  margin-top: 5;
}
footer .input {
  color: #fff;
  width: 100%;
}
footer .input .MuiOutlinedInput-root {
  color: white;
}
footer .input .MuiOutlinedInput-root fieldset {
  border-color: white;
}
footer .input .MuiOutlinedInput-root:hover fieldset {
  border-color: white;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
footer .buttonRed {
  font-weight: 700;
  background-color: #ff4000 !important;
  color: #fff;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 25%;
}
footer .buttonRed:hover {
  background-color: #faac58;
}
