asgiref==3.2.3
certifi==2023.7.22
chardet==3.0.4
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.1.14
django-anymail==7.0.0
django-mandrill==0.1.0
django-oauth-toolkit==1.3.2
djangorestframework==3.11.2
docopt==0.4.0
gunicorn==20.0.4
idna==2.8
mailchimp==2.0.9
mailsnake==1.6.4
mandrill==1.0.59
oauthlib==3.1.0
pagarme-python==3.3.2
postgres==3.0.0
psycopg2-binary==2.8.5
psycopg2-pool==1.1
python-decouple==3.3
python-oauth2==1.1.1
pytz==2019.3
requests==2.31.0
six==1.14.0
sqlparse==0.4.4
static3==0.7.0
urllib3==1.26.17
whitenoise==5.0.1
