.login {
  font-weight: 700;
  width: 250px;
  padding: 15px;
  margin-right: 150px;
  border-width: 1.5px;
}
.login-button {
  width: 300px;
  background-color: #125a7a !important;
  border-color: #125a7a !important;
  color: #fff !important;
}
.login-input {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  width: 350px;
}
.login-input .MuiOutlinedInput {
  color: #b2b2b2;
}
