fieldset {
  legend {
    span {
      color: white !important;
    }
  }
}
div {
  label {
    color: white !important;
  }
}

.slick-dots {
  position: relative;
  top: 20px;
  margin-bottom: 20px;
  li {
    margin-left: 0;
    margin-right: 0;
    .myDots {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 2px solid #125a7a;
      transition: all 0.3s ease;
    }
  }
  li.slick-active {
    width: 30px;
    margin-right: 5px;
    .myDots {
      width: 30px;
      height: 10px;
      border-radius: 5px;
      background-color: #125a7a;
    }
  }
}

.duvidas {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  h1 {
    margin-bottom: 70px;
  }
}

.container-funciona {
  display: flex;
  flex-direction: column;
  .card {
    position: relative;
    display: flex;
    padding: 0 50px 0;
    border-radius: 10px;
    height: 187px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 114px;
    box-sizing: border-box;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    background-color: #fff;
    & * {
      font-family: "Open Sans";
      box-sizing: border-box;
    }
    .index {
      background-color: #00a290;
      padding: 5px 16px;
      position: absolute;
      top: 0;
      left: 0;
      color: white;
      font-weight: 900;
      font-size: 27px;
      border-radius: 10px 30px 30px 0;
    }
    .content {
      transform: translateY(-30%);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .img {
      width: 144px;
      height: 144px;
      margin-bottom: 20px;
      padding: 12px;
      background: linear-gradient(#278fad, #115776);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
      border-radius: 50%;
      .white {
        background-color: #fff;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 55%;
          height: 55%;
          // object-fit: cover;
          text-align: center;
        }
      }
    }
  }
}
