{% block title %} Faça seu login na Ho-Up! {% endblock %}

{% block content%}
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Seu email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu email">
    <button type="emailHelp" class="btn btn-secondary">Esqueci minha senha.</button>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Digite sua senha</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">

  </div>
    <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Me mantenha logado</label>
  </div>
  <button type="submit" class="btn btn-primary">Entrar</button>
</form>
{% endblock %}
